*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    text-align: center;
    overflow-x: hidden;
    background-color: rgb(31, 28, 28);
}

.game
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

.score-board
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
}

.flex-column > p
{
    margin: 25px auto;
    color: blanchedalmond;
    font-size: 1.6em;
    margin: 0 auto;
}

.container
{
    display: flex;
    flex-direction: row;
    margin-top: 75px;


}

.container-small
{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    align-items: center;
    width: 100%;
}

.flex-column
{
    display: flex;
    flex-direction: column;
    margin: auto 400px;
}

.computer-choice
{
    background-color: blanchedalmond;
    height: 155px;
    width: 155px;
    border-radius: 50%;
    margin-bottom: 35px;
    border: solid 5px black;
}

.choice
{
    border: solid 5px black;
    background-color: blanchedalmond;
    border-radius: 50%;
    height: 155px;
    width: 155px;
    margin: 35px 25px;
    cursor: pointer;
    margin-top: 0;
}

button
{
    height: 10vh;
    width: 20vw;
    border: solid 4px black;
    outline: none;
    border-radius: 10px;
    background-color: blanchedalmond;
    font-size: 2.4em;
    cursor: pointer;
}

button > p
{
    text-align: center;
    margin: auto 0;
}

.announcement
{
    border: solid 3px white;
    width: 37vw;
    height: 17vh;
    margin: auto 75px;

}

.alert
{
    color: blanchedalmond;
    font-size: 3.2em;
    margin: 30px auto;
}


@media screen and (max-width: 425px)
{

    .computer-choice
    {
        margin-top: 50px;
        width: 150px;
        height: 150px;
        border: solid 2px black;
    }

    .container-small
    {
        flex-direction: column;
    }

    button
    {
        width: 80vw;
        margin: 35px auto;
    }

    .announcement
    {
        width: 99vw;
        padding: 30px;
    }

    .media-size
    {
        height: 100px;
        width: 100px;
    }

    .choice
    {
        border: solid 2px black;
    }

    .score-board
    {
        position: absolute;
        bottom: 0%;
    }

    .flex-column
    {
        margin: auto 75px;;
    }
    
}
