*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    text-align: center;
}

.game
{
    background-color: rgb(31, 28, 28);
    max-width: 100%;
    width: 1200px;
}

.container
{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 65%;
    left: 26%;

}

.choice
{
    border: solid 1px black;
    background-color: rgb(253, 232, 232);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-right: 100px;
    cursor: pointer;
    margin-top: 50px;
}

.choice:hover
{
    height: 155px;
    width: 155px;
}


.start
{
    height: 15vh;
    width: 20vw;
    border: none;
    position: absolute;
    top: 45%;
    left: 5%;
    outline: none;
    border-radius: 10px;
    background-color: rgb(253, 232, 232);
    font-size: 2.4em;
    cursor: pointer;
}

.reset
{
    height: 15vh;
    width: 20vw;
    border: none;
    position: absolute;
    top: 45%;
    right: 5%;
    outline: none;
    border-radius: 10px;
    background-color: rgb(253, 232, 232);
    font-size: 2.2em;
    cursor: pointer;
}


.hov:hover
{
    height: 15.2vh;
    width: 20.2vw;
}


.show-computer
{
    background-color: blanchedalmond;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: 12%;
    left: 44%;
}

.announcement
{
    border: solid 3px white;
    height: 20vh;
    width: 40vw;
    position: absolute;
    top: 43%;
    left: 30%;
}

.alert
{
    color: rgb(253, 232, 232);
    font-size: 3.2em;
    margin: 30px auto;
}

.score
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.flex-column
{
    display: flex;
    flex-direction: column;
    margin: auto 400px;
}

.flex-column > p
{
    margin: 25px auto;
    color: rgb(253, 232, 232);
    font-size: 1.6em;
}

#computer-score
{
    margin-top: 0;
}

#player-score
{
    margin-top: 0;
}

@media (max-width: 748px)
{
    .container
    {
        position: absolute;
        left: 7%;
    }

    .show-computer
    {
        position: absolute;
        left: 40%;
    }

    .alert
    {
        font-size: 2em;
    }
    
    .score
    {
        display: none;
    }





}
